{% extends "mal.html" %}



{% block innhold %}


<div id="gridomoss">
    <div>
        <p>Din nærmeste restaurant:</p>

        <h1 class="overskrift"><span>BK Sandvika</span></h1>

        <div id="tekstomoss">
            <h2>Kontakt oss:</h2>
            <p>Telefon: 67 52 01 49</p>
            <p>Mail: kundeservice@burgerking.no</p>
    
            <h2>Åpningstider:</h2>
            <p>Mandag-fredag: 10-21</p>
            <p>Lørdag: 9-19:30</p>
            <p>Søndag: 12-19</p>
        </div>
    
    </div>

    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d8006.872514060395!2d10.5207557!3d59.8870288!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x477058dddbcff304!2sBurger%20King!5e0!3m2!1sno!2sno!4v1653687866743!5m2!1sno!2sno" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    
</div>




{% endblock %}